<header class="bg-teal-400 py-5" >
  <h1 class="text-center text-4xl font-black" >Calculadora de Propinas y Consumo</h1>
</header>

<main class="max-w-7xl mx-auto py-20 grid md:grid-cols-2" >
  
  <div class="p-5">
    <h2 class="text-4xl font-black" >Menú</h2>
    <div class="mt-10 " >
      @for (item of menuItemsList; track $index) {
        <app-menu-item [menuItem]="item" />
      }
    </div>

  </div>
  
  <div class="border border-dashed border-slate-300 p-5 rounded-lg space-y-10" >
    <app-order-content />
    @if(orders()!==0){
      <app-tip-percentage-form />
      <app-order-totals />
    }
  </div>

</main>